accessible-pygments
alabaster
attrs
Babel
beautifulsoup4
Brotli
cachetools
cattrs
certifi
cffi
cfgv
chardet
charset-normalizer
colorama
commonmark
dataclasses
distlib
docutils
esbonio
filelock
future
identify
idna
imagesize
importlib_metadata
Jinja2
latexcodec
linkify-it-py
lsprotocol
markdown-it-py
MarkupSafe
mdit-py-plugins
mdurl
myst-parser
myst_nb
nbsphinx
sphinx_thebe
sphinx_markdown_parser
nbsphinx
sphinx_thebe
nodeenv
packaging
pip
platformdirs
pluggy
pre_commit
pybtex
pybtex-docutils
pycparser
pydata-sphinx-theme
pygls
Pygments
pyproject-api
PySocks
pyspellchecker
pytz
PyYAML
recommonmark
requests
restructuredtext_lint
rstcheck
setuptools
six
snowballstemmer
soupsieve
Sphinx
sphinx-book-theme
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-bibtex
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jquery
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sphinx-togglebutton
tomli
tox
types-docutils
typing_extensions
uc-micro-py
ukkonen
urllib3
virtualenv
wheel
zipp
pandas
